In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("fine fmeasure.csv", sep=";", index_col=0)
df

        Fine Class  F-Measure
33        ABBR:abb   0.893333
49        ABBR:exp   0.413333
27        DESC:def   0.746654
11       DESC:desc   0.501558
19     DESC:manner   0.896092
15     DESC:reason   0.847662
18     ENTY:animal   0.477778
44       ENTY:body   0.200000
46      ENTY:color   0.977778
40     ENTY:cremat   0.519942
9    ENTY:currency   0.866667
14     ENTY:dismed   0.672194
48      ENTY:event   0.437980
16       ENTY:food   0.520480
28     ENTY:instru   0.666667
6        ENTY:lang   0.760000
10     ENTY:letter   0.200000
30      ENTY:other   0.230983
43      ENTY:plant   0.380000
5     ENTY:product   0.240476
23   ENTY:religion   0.333333
25      ENTY:sport   0.433736
0   ENTY:substance   0.463333
26     ENTY:symbol   0.566667
22   ENTY:techmeth   0.294286
12     ENTY:termeq   0.217143
2         ENTY:veh   0.554286
41       ENTY:word   0.763333
21        HUM:desc   0.849206
17          HUM:gr   0.393260
38         HUM:ind   0.702371
37       HUM:title   0.593333
35        LOC:city   0.802424
13     LOC:country   0.854638
32       LOC:mount   0.471429
36       LOC:other   0.711182
8        LOC:state   0.811429
45        NUM:code   0.866667
20       NUM:count   0.848791
29        NUM:date   0.848660
3         NUM:dist   0.607619
39       NUM:money   0.734188
1          NUM:ord   1.000000
31       NUM:other   0.280000
7         NUM:perc   0.474286
34      NUM:period   0.797778
4        NUM:speed   0.933333
42        NUM:temp   0.500000
47     NUM:volsize   0.693333
24      NUM:weight   0.733333

In [8]:
columns = ["ABBR", "DESC", "HUM", "ENTY", "LOC", "NUM"]
anl = pd.DataFrame(columns=columns, index = ["0-0.25", "0.25-0.5", "0.5-0.75", "0.75-1"])
anl

         ABBR DESC  HUM ENTY  LOC  NUM
0-0.25    NaN  NaN  NaN  NaN  NaN  NaN
0.25-0.5  NaN  NaN  NaN  NaN  NaN  NaN
0.5-0.75  NaN  NaN  NaN  NaN  NaN  NaN
0.75-1    NaN  NaN  NaN  NaN  NaN  NaN

In [9]:
for col in columns:
    temp = df[df["Fine Class"].str.startswith(col)]
    
    cnt = len(temp[temp["F-Measure"] <= 0.25])
    anl[col]["0-0.25"] = cnt
    temp = temp[temp["F-Measure"] > 0.25]
    
    cnt = len(temp[temp["F-Measure"] <= 0.5])
    anl[col]["0.25-0.5"] = cnt
    temp = temp[temp["F-Measure"] > 0.5]
    
    cnt = len(temp[temp["F-Measure"] <= 0.75])
    anl[col]["0.5-0.75"] = cnt
    temp = temp[temp["F-Measure"] > 0.75]
    
    cnt = len(temp)
    anl[col]["0.75-1"] = cnt

anl

         ABBR DESC HUM ENTY LOC NUM
0-0.25      0    0   0    5   0   0
0.25-0.5    1    0   1    7   1   3
0.5-0.75    0    2   2    6   1   4
0.75-1      1    2   1    4   3   6